@{
    ViewBag.Title = "Home Index";
}
<h2>Home Index</h2>
Please try the following links via HTTP and HTTPS<br />
@Html.ActionLink("Index2", "Index2", "Home")<br />
@Html.ActionLink("Index3", "Index3", "Home")<br />
@Html.ActionLink("Index4", "Index4", "Home")<br />
@Html.ActionLink("Index5", "Index5", "Home")<br />