@model OnlineGame.Web.Models.Gamer
@{
    ViewBag.Title = "Details4";
}
<h2>Details4</h2>
@Html.DisplayName("Name")
<br />
@Model.Name
<br />
@Html.DisplayName("Gender")
<br />
@Model.Gender
@*
    Using Strongly Typed View provide intellisense
*@