@using OnlineGame.Web.Models
@model BoardGame
@{
    ViewBag.Title = "DetailsTwo";
}

<h2>Display Complex Type Sample</h2>
@Html.DisplayTextFor(model => model.GameHolder)
@*
    @Html.DisplayTextFor(model => model.GameHolder)
    model.GameHolder will return a Gamer object.
    The Gamer class has [DisplayColumn("Name")] attribute,
    so it will display Gamer Name property value
    which is the full name of that gamer.
*@